/.hg
/.hgignore
/.hgcheck
**/.settings
**.project
**.classpath
**/target
.factorypath

.settings/org.eclipse.core.resources.prefs

.settings/org.eclipse.m2e.core.prefs

target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
infinitest.filters
konik/src/test/resources/all
